<div class="bar bar-standard bar-footer-secondary">


    <%= link_to chatroom_path(@chatroom), class: "btn btn-primary btn-block" do %>
     <% if @chatroom.messages.present? %>
      Ouvrir la discussion
     <% else %>
      Organiser une partie
     <% end %>
    <% end %>

</div>
