<% content_for :title do %>
  <h1 class="title">Mes paramètres</h1>
<% end %>

<ul class="table-view">
  <li class="table-view-cell media">
    <%= link_to prototypes_settings_photo_path, class: "navigate-right" do %>
       <span class="media-object pull-left icon icon-person"></span>
       <div class="media-body"> Ma photo de profil </div>
    <% end %>
  </li>
  <li class="table-view-cell media">
    <%= link_to prototypes_settings_informations_path, class: "navigate-right" do %>
       <span class="media-object pull-left icon icon-info"></span>
       <div class="media-body"> Mes informations personnelles </div>
    <% end %>
  </li>
  <li class="table-view-cell media">
    <%= link_to prototypes_settings_player_preferences_path, class: "navigate-right" do %>
       <span class="media-object pull-left icon icon-star"></span>
       <div class="media-body"> Mes paramètres de joueur </div>
    <% end %>
  </li>
  <li class="table-view-cell media">
    <%= link_to prototypes_settings_account_path, class: "navigate-right" do %>
       <span class="media-object pull-left icon icon-gear"></span>
       <div class="media-body"> Gérer mon compte </div>
    <% end %>
  </li>
</ul>
