<% if resource.errors.any? %>
  <div class="container container-m" data-turbo-cache="false">
    <div class="alert alert-warning container-m" role="alert">
    <p>
      <i class="bi bi-exclamation-triangle-fill"></i>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </p>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
