// Custom components

.avatar {
  border-radius: 50px;
}

.messages {
}

.message {
  padding-top: 10px;
  margin-bottom: 0;
  height: 180px;
  border-top: 1px solid #ddd;

  & textarea {
    margin-bottom: initial;
  }

  & input[type="submit"] {
    width: auto;
  }

  .bar {
    border-bottom: none;
  }

  & .material-icons-round {
    font-size: 16px;
    position: relative;
    top: 3px;
  }
}

fieldset {
  & legend {
    padding-bottom: 5px;
  }

  & div {
    padding-top: 5px;
  }
}

.card-right {
  margin-left: 70px;
  text-align: right;
}

.card-left {
  margin-right: 70px;
  text-align: left;
}

.card {
  & h2 {
    font-size: 16px;
  }

  & p {
    margin: 0;
  }
}
