// * {
//   position: initial;
// }

// .bar-footer-secondary {
//   position: initial;
//   max-width: 300px;
//   margin: 0 auto;
// }

.desktop-warning {
  display: block;
  max-width: 400px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

