// Ratchet / Variables
@import "ratchet/variables.scss";

// Ratchet / Mixins
@import "ratchet/mixins.scss";

// Ratchet / Normalize & Base CSS
@import "ratchet/normalize.scss";
@import "ratchet/base.scss";
@import "ratchet/type.scss";

// Ratchet / Components
@import "ratchet/buttons.scss";
@import "ratchet/bars.scss";
@import "ratchet/badges.scss";
@import "ratchet/cards.scss";
@import "ratchet/table-views.scss";
@import "ratchet/forms.scss";
@import "ratchet/segmented-controls.scss";
@import "ratchet/popovers.scss";

// Ratchet / Javascript components
@import "ratchet/modals.scss";
@import "ratchet/sliders.scss";
@import "ratchet/toggles.scss";
@import "ratchet/push.scss";

// Ratchet / Ratchicons
@import "ratchet/ratchicons.scss";

// Overrides

.content {
  padding-bottom: 54px;
}

.content-padded {
  margin: 20px;
}

.content > .table-view:first-child {
  margin-top: 0;
  border-top: none;
}

.bar-footer {
  height: 54px;
}

.bar-footer-secondary {
    border-top: none;
    margin-bottom: 20px;
}

.card {
  padding: 10px;
}

.bar .btn-block {
  top: 6px;
  padding: 10px;
}

.btn-block {
  line-height: 20px;
  font-size: 16px;
  padding: 10px;
}