// Utility classes

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.margin-bottom-s {
  margin-bottom: 10px;
}

.margin-bottom-m {
  margin-bottom: 20px;
}

.margin-bottom-xl {
  margin-bottom: 200px;
}
