<% content_for :back_button do %>
  <%= link_to '', prototypes_player_path, class: "icon icon-left-nav pull-left" %>
<% end %>

<% content_for :title do %>
  <h1 class="title">Invitation</h1>
<% end %>