<% content_for :back_button do %>
  <%= link_to '', prototypes_settings_path, class: "icon icon-left-nav pull-left" %>
<% end %>
    
<% content_for :title do %>
  <h1 class="title">Éditer mon profil</h1>
<% end %>

<form class="input-group">
  <div class="input-row">
    <label>Date de naissance</label>
    <input type="text">
  </div>
  <div class="input-row">
    <label>Genre</label>
    <input type="text">
  </div>
  <div class="input-row">
    <label>Niveau</label>
    <input type="email">
  </div>
  <div class="input-row">
    <label>Abonnement</label>
    <input type="password">
  </div>
  <div class="input-row">
    <label>Confirmation</label>
    <input type="password">
  </div>
</form>

<ul class="table-view">
  <li class="table-view-cell">
    <a class="navigate-right">
      Photo de profil
    </a>
  </li>
  <li class="table-view-cell">
    <a class="navigate-right">
      Description
    </a>
  </li>
  <li class="table-view-cell">
    <a class="navigate-right">
      Disponibilité
    </a>
  </li>
</ul>

<%= link_to "Mettre à jour", prototypes_settings_path, class: "btn btn-block" %>