<% content_for :back_button do %>
  <%= link_to '', prototypes_search_path, class: "icon icon-left-nav pull-left" %>
<% end %>

<% content_for :title do %>
  <h1 class="title">Ghislain Georges</h1>
<% end %>