<% content_for :back_button do %>
  <%= link_to '', prototypes_search_path, class: "icon icon-left-nav pull-left" %>
<% end %>

<% content_for :title do %>
  <h1 class="title">Ghislain Georges</h1>
<% end %>

<div class="content-padded text-centered">
  <img class="media-object avatar" src="http://placehold.it/100x100">
</div>

<ul class="table-view margin-bottom-xl">
  <li class="table-view-cell">38 ans</li>
  <li class="table-view-cell">Homme</li>
  <li class="table-view-cell">Niveau débutant</li>
  <li class="table-view-cell">Joue en intérieur et extérieur</li>
  <li class="table-view-cell">
    Disponibilités :
    <ul>
      <li>Semaine / soir</li>
      <li>Week-end / journée</li>
    </ul>
  </li>
  <li class="table-view-cell">
    <p>Je précise que j'ai un emploi du temps qui bouge pas mal. Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla</p>
  </li>
</ul>



<div class="bar bar-standard bar-footer-secondary message">
  <form>
    <label>Message d'invitation</label>
    <textarea rows="5"></textarea>
  </form>
  <%= link_to prototypes_invitations_path, class: "btn btn-primary btn-block" do %>
    <span class="icon icon-share"></span>
    Envoyer une invitation pour jouer
  <% end %>
</div>
