<% content_for :title do %>
  <h1 class="title">Résultat de la recherche</h1>
<% end %>

<ul class="table-view">
  <li class="table-view-cell media">
    <%= link_to prototypes_player_path, class: "navigate-right" do %>
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body">
        Ghislain G.
        <p>48 ans</p>
      </div>
    <% end %>
  </li>
</ul>
