<% content_for :back_button do %>
  <%= link_to '', prototypes_settings_path, class: "icon icon-left-nav pull-left" %>
<% end %>

<% content_for :title do %>
  <h1 class="title">Gérer mon compte</h1>
<% end %>

<form class="content-padded">

  <label>Email</label>
  <input type="email" placeholder="josephinepean@gmail.com">

  <label>Password</label>
  <input type="password">

  <label>Confirmation</label>
  <input type="password">

</form>

<div class="content-padded">
  <%= link_to prototypes_signup_path, class: "btn btn-negative btn-block btn-outlined" do %>
    <span class="icon icon-trash"></span>
    Supprimer mon compte
  <% end %>
</div>

<div class="bar bar-standard bar-footer-secondary">
  <%= link_to prototypes_settings_path, class: "btn btn-primary btn-block" do %>
    <span class="icon icon-check"></span>
    Mettre à jour
  <% end %>
</div>
