<% content_for :back_button do %>
  <%= link_to '', prototypes_settings_path, class: "icon icon-left-nav pull-left" %>
<% end %>
    
<% content_for :title do %>
  <h1 class="title">Mes informations</h1>
<% end %>

<form class="content-padded">
  <label>Date de naissance</label>
  <input type="date" id="start" name="trip-start" value="2000-07-22" min="1900-01-01" max="2023-04-01">
  
  <label>Genre</label>
  <select id="gender-select">
    <option value="">Choisir votre genre</option>
    <option value="man">Homme</option>
    <option value="woman">Femme</option>
    <option value="indefined">Je ne souhaite pas préciser</option>
  </select>
  
  <label>Description</label>
  <textarea rows="5"></textarea>
</form>

<div class="bar bar-standard bar-footer-secondary">
  <%= link_to prototypes_settings_path, class: "btn btn-primary btn-block" do %>
    <span class="icon icon-check"></span>
    Enregistrer
  <% end %>
</div>
