<% content_for :title do %>
  <h1 class="title">Membres trouvés</h1>
<% end %>

<div class="container container-m">
  <div class="alert alert-filter" role="alert">
    <p><i class="bi bi-info-circle-fill"></i>Les membres affichés sont <strong>automatiquement filtrés selon votre niveau de jeu</strong>.</p>
  </div>
</div>

<div class="stack-buttons">
  <%= link_to users_search_path, class: "btn btn-outline-primary" do %>
    <i class="bi bi-filter"></i>
    Filtrer à nouveau
  <% end %>
  <%= link_to users_path, class: "btn btn-outline-primary" do %>
    Afficher tous les membres
  <% end %>
</div>

<ul class="users">
  <% @partners.each do |partner| %>
    <%= render "list_item", partner: partner %>
  <% end %>
</ul>
