<% content_for :title do %>
  <h1 class="title">Membres du club</h1>
<% end %>

<div class="stack-buttons">
  <%= link_to users_search_path, class: "btn btn-outline-primary" do %>
    <i class="bi bi-filter"></i>
    Filtrer les membres
  <% end %>
  <%# button_to '', class: "btn search-input" do %>
    <%# <i class="bi bi-search"></i>
    Rechercher un membre %>
  <%# end %>
</div>

<ul class="users">
  <% @partners.each do |partner| %>
    <%= render "list_item", partner: partner %>
  <% end %>
</ul>
