<% content_for :title do %>
  <h1 class="title">Les joueurs du club</h1>
<% end %>

<ul class="table-view">
  <% @users.each do |user| %>
    <li class="table-view-cell media">
      <%= link_to user, class: "navigate-right" do %>
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          <%= user.first_name %> <%= user.last_name %>
          <p><%= user.experience %></p>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
      
<%# link_to "Mes Chatrooms", chatrooms_path %>

<%# link_to invitation_path(id: user.id), data: {turbo_method: :post}, class: "btn btn-sm btn-outline-primary" do %>
  <%# render "/shared/buttons/invitation" %>
<%# end %>

<%#  button_to "Se déconnecter", destroy_user_session_path, method: :delete, class:"btn btn-secondary my-2 my-sm-0"  %>
