<% content_for :title do %>
  <div>
    <%= image_tag 'logo-tcstjulien.png', alt: 'Logo du Tennis Club de Saint Julien en Genevois', class: "avatar" %>
    <h1 class="title">Tennis Club de Saint-Julien</h1>
  </div>
<% end %>

<%= image_tag 'welcome-slide-1.png', alt: "Image d'accueil pour les visiteurs de l'app, montrant une photo d'un joueur de tennis en pleine action, sur un court extérieur, et par-dessus le message d'accueil annonce \"Trouvez votre partenaire de tennis\"" %>

<% content_for :actions do %>
  <%= link_to "Inscription", new_user_registration_path,
      class: "btn btn-outline-primary" %>
  <%= link_to "Connexion", new_user_session_path,
      class: "btn btn-primary" %>
<% end %>
