<h1>Welcome to Tennis_club_app</h1>
<p>Cette app est réservé aux membres du club de St Julien. Please sign up or log in before anything</p>
<p>
  <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary" %>
</p>