<% content_for :title do %>
  <h1 class="title">Tennis Club de Saint-Julien</h1>
<% end %>

<div class="content-padded">
  <h1>
    Trouver<br>
    votre partenaire<br>
    de tennis
  </h1>
  <p>Veuillez vous connecter pour accéder aux fonctionnalités de l'app.</p>
  <p>L'inscription est réservée aux membres du club de tennis de Saint-Julien en Genevois.</p>
</div>