<div class="bar bar-standard bar-footer-secondary message">
  <form>
    <label>Message d'invitation</label>
    <textarea rows="5"></textarea>
  </form>
  <%= link_to prototypes_invitations_path, class: "btn btn-primary btn-block" do %>
    <span class="icon icon-share"></span>
    Envoyer une invitation pour jouer
  <% end %>
</div>

<%# if @have_chatroom %>
    <%# link_to "Go to Chatroom", chatroom_path(@chatroom) %>
<%# else %>
  <%# form_with(url: chatrooms_path, method: :post) do |f| %>
    <%# f.hidden_field :user_id, value: @user.id %>
    <%# f.submit "Start Chatroom" %>
  <%# end %>
<%# end %>