header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: $border-style-default;
  font-size: $font-size-xxl;
  padding: $space-l;
}

.default {
  justify-content: space-between;
}

header.actions {
  & > a:first-child {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  & .title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  & .avatar {
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.75rem;
  }
}