<nav class="bar bar-tab">
  <%= link_to prototypes_search_path, class: "tab-item" do %>
    <span class="icon icon-search"></span>
  <% end %>
  <%= link_to prototypes_invitations_path, class: "tab-item" do %>
    <span class="icon icon-download"></span>
  <% end %>
  <%= link_to prototypes_settings_path, class: "tab-item" do %>
    <span class="icon icon-person"></span>
  <% end %>
</nav>
