<% flash.each do |type, content| %>
  <% type = 'success' if type == 'notice' %>
  <div class="container container-m">
    <div class="alert alert-<%= type %> container-m" role="alert">
      <% case type 
         when "info" %><i class="bi bi-info-circle-fill"></i>
      <% when "filter" %><i class="bi bi-info-circle-fill"></i>
      <% when "alert" %><i class="bi bi-exclamation-triangle-fill"></i>
      <% when "warning" %><i class="bi bi-exclamation-triangle-fill"></i>
      <% when "success" %><i class="bi bi-check-circle-fill"></i>
      <% end %>
      <%= content %>
    </div>
  </div>
<% end %>
