<% if notice %>
  <div style="background-color: green; color: white; padding: 10px;">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div style="background-color: red; color: white; padding: 10px;">
    <%= alert %>
  </div>
<% end %>