<nav class="bar bar-tab">
  <%= link_to users_search_path, class: "tab-item #{'active' if current_page?(users_search_path) || current_page?(users_path) || current_page?(users_display_path) }" do %>
    <span class="material-icons-round">person_search</span>
  <% end %>
  <%= link_to invitations_path, class: "tab-item #{'active' if current_page? invitations_path }" do %>
    <span class="material-icons-round">chat</span>
  <% end %>
  <%= link_to edit_user_registration_path, class: "tab-item #{'active' if current_page?edit_user_registration_path}" do %>
    <span class="material-icons-round">settings</span>
  <% end %>
</nav>
