<nav>
  <div class="container">
    <%= link_to users_path, class: "#{'active' if current_page?(root_path) || current_page?(users_search_path) || current_page?(users_path) || current_page?(users_display_path) }" do %>
      <i class="bi bi-people-fill"></i>
      <span>Membres</span>
    <% end %>
    <%= link_to chatrooms_path, class: "#{'active' if current_page? chatrooms_path }" do %>
      <i class="bi bi-chat-dots-fill"></i>
      <span>Messages</span>
    <% end %>
  </div>
  <%= link_to user_path(current_user), class: "#{'active' if current_page?(user_path(current_user)) || current_page?(edit_user_registration_path) || current_page?(edit_user_path(current_user)) }" do %>
    <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar, alt: 'Photo de profil', class: "avatar" %>
    <% else %>
      <i class="bi bi-person-circle"></i>
    <% end %>
    <span>Mon profil</span>
  <% end %>
</nav>


