<nav class="bar bar-tab">
  <%= link_to users_path, class: "tab-item #{'active' if current_page? users_path }" do %>
    <span class="icon icon-search"></span>
  <% end %>
  <%= link_to invitations_path, class: "tab-item #{'active' if current_page? invitations_path }" do %>
    <span class="icon icon-download"></span>
  <% end %>
  <%= link_to edit_user_registration_path, class: "tab-item #{'active' if current_page?edit_user_registration_path}" do %>
    <span class="icon icon-person"></span>
  <% end %>
</nav>
