<div class="btn-theme">
	<label for="checkbox" class="label" data-action="toggle-theme" >
		<i class="bi bi-brightness-high-fill"></i>
		<i class="bi bi-moon-fill"></i>
		<div class="ball"></div>
	</label>
	<input type="checkbox" class="checkbox" id="checkbox">
</div>